#!/bin/sh

apt update
apt upgrade
apt install -y nginx

apt install certbot python3-certbot-nginxcertbot --nginx -d $(var.website_domain) -d $(var.website_name).$(var.website_domain)

certbot --nginx -d $(var.website_name).$(var.website_domain) 
cd /var/www/html && curl -L https://github.com/Saverio001/jo-condor/releases/download/0.6/public.tgz | tar zxvf -
systemctl start nginx
systemctl enable nginx
